@media screen and (max-width: 1240px) {
  .team__card>img {
    width: 80%;
  }
}

@media screen and (max-width: 1120px) {
  .main__taitle {
    font-size: 2.5vw;
  }

  .blog__images {
    max-width: 370px;
  }

  .item-contact__title {
    font-size: 2vw;
  }

  .form-inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  input {
    width: 80%;
    margin: 0;
    margin-bottom: 10px;
  }

  .col-75 {
    display: flex;
    justify-content: center;
    padding-bottom: 10px;
  }

  .col-75>textarea {
    width: 380px;
    height: 120px;
  }

  textarea::placeholder {
    font-size: 1.4em;
    padding: 3px 0 0 5px;
  }

  .submit {
    margin: 0 auto;
    padding-top: 25px;
  }
}

@media screen and (max-width: 1030px) {

  .title {
    font-size: 5vw;
  }

  .text {
    width: 80%;
    font-size: 3vw;
  }

  #myBtnContainer {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .portfolio__btn {
    font-size: 2vw;
  }

  .portfolio__row {
    flex-direction: column;
  }

  .pricing__rows {
    flex-direction: column;
    margin-top: 80px;
  }

  .pricing__column {
    margin: 0;
    padding: 20px 0;
  }

  .blog__content {
    margin: 0;
    flex-wrap: wrap;
    text-align: center;
  }

  .blog-image {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    padding: 20px 0px;
  }

  .blog__tex {
    padding: 30px 0px;
  }

  .blog__sub {
    justify-content: center;
    align-items: center;
    font-size: 3vw;
  }

  .blog-t {
    font-size: 3.2vws;
  }

  .blog-text {
    font-size: 2.5vw;
    padding-bottom: 30px;
  }

  .menuIcon {
    background: none;
  }


  .header-menu {
    justify-content: space-between;

  }

  .fa-3x {
    margin: 0 auto;
  }

  .closeIcon {
    color: red;
    background: none;
  }

  .hamburger {
    background: inherit;
    cursor: pointer;
    display: flex;
    margin-left: 150px;
    justify-content: center;
    z-index: 600;
  }

  .header__menu {
    position: absolute;
    transform: translateY(-100%);
    top: 0;
    left: 0;
    height: 50px;
    border-radius: 5px;
    margin: 0 auto;
    z-index: 500;
    background: rgb(255, 255, 255);
    list-style: none;
  }

  .menu__list {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 5px;
    margin: 0 auto;
    height: 100%;
  }

  .menu-item {
    border: none;
    z-index: 10;
    padding: 0px;
    margin: 20px;
    font-weight: 20px;
  }

  .showMenu {
    transform: translate(0);
    transition: transform 1s;
    top: 80px;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
  }

  .portfolio__button {
    margin: 0 auto;

  }
}

@media screen and (max-width: 993px) {
  .about__row {
    flex-direction: column;
    flex-wrap: wrap;
  }

  .services__rows {
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .team__row,
  .team__column {
    flex-direction: column;
    flex-wrap: wrap;
  }

  .team__card>img {
    width: 80%;
  }

  .fa-2x {
    margin: 10px auto;
    width: 5%;
    font-size: 2vw !important;
  }
}

@media screen and (max-width: 600px) {
  .main__title {
    font-size: 10vw;
  }

  .main__subtitle {
    font-size: 3.8vw;
  }

  .btn {
    width: 60%;
    font-size: 3vw;
  }

  .contact__row {
    flex-direction: column;
  }

  .item-contact__title {
    font-size: 3vw;
  }

  .portfolio__button {
    width: 50%;
    margin: 0 auto;
  }

  .portfolio__row {
    margin-top: 8px;
  }

  .portfolio__btn {
    width: 80%;
    font-size: 4vw;
  }


  #myBtnContainer {
    flex-direction: column;
  }
}

@media screen and (max-width: 500px) {

  .header__menu {
    height: 150px;
    width: 100%;
  }

  .menuItem {
    margin: 0 auto;
  }

  .menu__list {
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .showMenu {
    transform: translate(0);
    transition: transform 1s;
    top: 118px;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
  }

  #up {
    bottom: 60px;
    right: 20px;
  }

}

@media screen and (max-width: 450px) {
  .blog__images {
    min-width: 240px;
  }

  .header-menu {
    height: 60px;
  }

  .header__logo {
    margin-left: 5px;
    width: 120px;
    height: 20px;
    z-index: 1000;
  }

  .header__menu {
    margin-top: 10px;
    border-radius: 0;
  }
}